<Files ".env">
    Order allow,deny
    Deny from all
</Files>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Bloquer accès aux fichiers sensibles
    RewriteRule ^(\.env|composer\.(json|lock)|artisan|package\.json|package-lock\.json|webpack\.mix\.js)$ - [F,L]

    # Bloquer dossiers sensibles
    RewriteRule ^(vendor|storage|bootstrap|config|resources|routes|database|tests)(/|$) - [F,L]


    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
